
/*---------- font family comfortaa---------- */

@font-face{
    font-family: Comfortaa;
    src: url('../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf')
}
/*--------- font family comfortaa --------*/





/* font family lobster */

@font-face{
    font-family: Lobster;
    src: url('../fonts/Lobster/Lobster-Regular.ttf')
}

/*-------- font family lobster-------- */







/*--------- font family merienda ---------*/



@font-face{
    font-family: Merienda;
    src: url('../fonts/Merienda/Merienda-Regular.ttf')
}

/*----------- font family merienda -------------*/






/*------------- font family orbitron ------------*/


@font-face{
    font-family: Orbitron;
    src: url('../fonts/Orbitron/Orbitron-VariableFont_wght.ttf')
}

/*-------------- font family orbitron -----------*/





/*------------- font family special elite ----------*/

@font-face{
    font-family: Special_Elite;
    src: url('../fonts/Special_Elite/SpecialElite-Regular.ttf')
}


/*------------ font family Specaial elite ------------*/